@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
#contacto, #inicio{
    background-image: url("../images/fondo-contacto.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#proyectos{
    background-image: url("../images/fondo-proyectos.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.proyecto h2 {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    background-color: red;
}
.proyecto p{
    font-size: 14px;
    height: 148px;
}
.proyecto {
    border: 1px solid #eee;
}
.proyecto img {
    height: 208px;
}
.bienvenido strong{
    border: 1px solid white;
    color: white;
    font-size: 18px;
    margin-left: 300px;
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
}
.bienvenido {
    margin-top: 40px;
}
.inicio-icono {
    padding-left: 100px;
}
h1{
    color: #e20000;
    font-size: 36px;
}
p{
    color: #6a6a6a;
    font-size: 16px
}
.torpedo {
    width: 270px;
    margin-top: 20px;
    margin-left: 420px;
}
.form-control{
    border-radius: 14px;
}
.form-msj {
    height: 150px;
}

.btn-blanco {
    background-color: white;
    color: #370a6d;
    border: none;
    border-radius: 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.btn-blanco:hover {
    background-color: #370a6d;
    color: white;
}

.lista-nav {
    margin: 5px;
    padding-left: 1rem;
}

.nav-link {
    color: black;
    margin-left: 1px;
    text-align: left;
    
}

.borde-contacto {
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    
}

.btn-outline-success {
    background-color: #e20000;
    color: white;
    font-weight: 100;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}
.btn-outline-success:hover {
    background-color: #370a6d;
    color: white;
}
.link {
    background-color:white;
    color: black;
    font-weight: 100;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin-left: 450px;
}
.link:hover {
    background-color: #370a6d;
    color: white;
}
.whatsapp {
    background-color: #370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right: 80px;
    position: fixed;
    bottom: 0px;
}
.whatsapp a {
    color: white;
}
footer .fa-linkedin-in, footer .fa-github {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
.mails {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.7;
}
.mails:hover {
    color: blue;
}
.mails1 {
    color: white;
    font-size: 1rem;
    opacity: 0.7;
}
nav .active {
    border: 1px solid #e20000;
    border-radius: 25px;
}
@media (max-width: 750px){
    #contacto {
    background-image: url("../images/fondo-proyectos.png");
    background-repeat: no-repeat;
    background-size: 100%;
    }
}
#tecnologias {
    background-color: #e20000;
}
.card {
    height: 182px;
}
.card h3, .card img {
    font-size: 10px;
    text-align: center;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}







